@import './variables';

/* styling for menu button */
.menuButton {
    background: transparent;
    border: 0;
    height: 1.8rem;
    overflow: hidden;
    padding: .25rem;
    position: relative;
    width: 60px;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: 0;
    }

    .menuIconLine {
        background-color: white;
        content: '';
        display: block;
        height: 3px;
        width: 100%;

        &:first-of-type {
            margin-bottom: .2rem;
            right: 0;
            position: relative;
        }

        &:last-of-type {
            width: calc(100% - 12px);
            margin: 0 auto;
        }
    }

    .iconMagnifyingGlass {
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .iconCross {
        bottom: 0;
        right: 0;
        position: absolute;
        transform: translateX(100%);
    }
}


.menuOpened {
    .menuIconLine:last-of-type {
        transform: translateX(-6px);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .65s;
    }

    .iconMagnifyingGlass {
        transform: translateX(-100%);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .6s;
    }

    .iconCross {
        transform: translateX(0);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .6s;
    }
}

.menuClosed {
    .menuIconLine:last-of-type {
        transform: translateX(6px);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .65s;
    }

    .iconMagnifyingGlass {
        transform: translateX(0);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .6s;
    }

    .iconCross {
        transform: translateX(100%);
        transition: transform var(--transition) var(--CubicEaseIn);
        transition-delay: .6s;
    }
}

/* styling for menu body & container */
.menuBody {
    background-color: black;
    bottom: 0;
    left: -100%;
    position: fixed;
    height: 100%;
    padding:  4rem 1rem 1rem;
    width: 100%;
    z-index: 8;

    @media only screen and (min-width: $mob) {
        padding: 6rem 2.4rem;
    }

    .menuList {
        display: table;
        padding: 0;

        .listItem {
            display: table;
            margin-bottom: .5rem;
            padding-right: 1rem;
            position: relative;

            &:after {
                background-color: white;
                content: '';
                position: absolute;
                top:0;
                right:0;
                width: 100%;
                height: 100%;
            }
        }

        .listItem a {
            color: var(--white);
            font-size: 4.4em;
            font-weight: bold;
            line-height: 1;

            @media only screen and (min-width: $mob) {
                font-size: 6em;
            }

            &:hover {
                color: var(--blue);
                text-decoration: none;
            }
        }
    }

    .contactWrapper {
        position: relative;
        margin-top: 2rem;

        @media only screen and (min-width: $mob) {
            position: absolute;
            bottom: 2rem;
        }

        .contactHeader {
            color: var(--white);
            display: block;
            margin-bottom: 1rem;
        }

        .contactLink {
            color: var(--white);
            font-size: 1em;
            font-weight: 500;
            line-height: 1;

            @media only screen and (min-width: $mob) {
                font-size: 1.2em;
            }

            &:first-of-type {
                display: block;
            }
        }

        .contactSpacer {
            color: var(--white);
            font-size: 1.2em;
            font-weight: 500;
            margin: 0 1rem;
        }

    }
}

.menuBody.menuOpened {
    transform: translateX(100%);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuBody.menuClosed {
    transform: translateX(0);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuOpened .menuList {
    transform: translateX(0);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuClosed .menuList {
    transform: translateX(-100%);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuOpened .contactWrapper {
    transform: translateX(0);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuClosed .contactWrapper {
    transform: translateX(-100%);
    transition: transform var(--transition-menu) var(--CubicEaseInOut);
}

.menuOpened .menuList .listItem::after {
    width: 0%;
    transition: width var(--transition) var(--CubicEaseInOut);
    transition-delay: .9s;
}

.menuClosed .menuList .listItem::after {
    transition: width var(--transition) var(--CubicEaseInOut);
    transition-delay: .9s;
}
